
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: 'Roboto Condensed';
    max-width: 960px;
    padding: 20px;
}
:root{
    --primary-color:#8E9AAF;
    --secondary-color:#CBC0D3;
    --accent1-color:#EFD3D7;
    --accent2-color:#FEEAFA;

    --heading-font:"Playwrite NG Modern", serif;
    --paragraph-font:"Roboto Condensed", serif;

    --nav-background-color:#8E9AAF;
    --nav-link-color:#357266;
    --nav-hover-link-color:#EFD3D7;
    --nav-hover-background-color:#FEEAFA;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-background-color);
    background-color: var(--nav-hover-background-color);
}





